setuptools
wheel
flask
flask-cors
python-dotenv
google-generativeai
moviepy==1.0.3
pillow
requests
elevenlabs
gTTS
google-auth-oauthlib
google-api-python-client
tqdm
pydantic
openai
httpx
beautifulsoup4
lxml
newsapi-python
decorator==4.4.2
imageio==2.25.1
imageio-ffmpeg==0.4.8
gunicorn